header {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    background: #1b1913;
    height: 250px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    background: #1b1913;
    height: 100vh;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 10px;
    padding-top: 27%;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 480px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 23px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a1 {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 23px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.navbar a1:hover {
    background: #ddd;
    color: black;
}

.button1 {
  border: 2px solid #ffcd38;
  color: #ffcd38;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: black;
  border-radius: 12px;
}
.button1:hover {
background-color: #ffcd38;
color: white;
}

.button2 {
    border: none;
    color: #bfd1ff;
    background-color: #1b1913;
    margin-left: 250px;
}

.button2:hover{
    text-decoration: underline;
    color: #2691d9;
}

.button3 {
    border: none;
    color: #bfd1ff;
    background-color: #1b1913;
    margin-left: 208px;
}

.button3:hover{
    text-decoration: underline;
    color: #2691d9;
}

body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}