*{
    margin: 0%;
}

.background {
    margin: auto;
    background-color: #1b1913;
    position: center;
    width: 450px;
    max-width: 450px;
}

p {
    color: white;
}

h1 {
    color: white;
    padding-left: 6px;
}

h2 {
    color: white;
    padding-left: 6px;
}


.topBar {
    margin: auto;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    background-color: #1b1913;
    position: center;
    width: 450px;
    max-width: 450px;
    position: center;
    
}

.botBar {
    margin: auto;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    background-color: #1b1913a9;
    position: center;
    width: 450px;
    max-width: 450px;
    position: relative;
    z-index: 9;
    margin-top: 89%;
    
}

.barButton {
    background-color: transparent;
    border: none;
    margin : 20px;
    width: 40px;
    height: 40px;
    transition-duration: 0.5s;
    color: white;
    border-radius: 20%;
    
}

.barButton:hover {
    background-color: white;
    color: #444444;
    /* cursor: pointer; */
}

.botButton {
    background-color: transparent;
    border: none;
    margin : 20px;
    width: 60px;
    height: 60px;
    transition-duration: 0.5s;
    color: white;
    border-radius: 20%;
    
}

.botButton:hover {
    color: #444444;
    background-color: #ffc71f;
    cursor: pointer;
}

#addButton {
    background-color: transparent;
    border: none;
    position: center;
    width: 60px;
    height: 60px;
    transition-duration: 0.5s;
    color: #ffc71f;
    border-radius: 100%;
    
}

#addButton:hover {
    color: #444444;
    background-color: white;
    cursor: pointer;
}

.bal {
    margin: 0;
    padding-left: 20px;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    background-color: #1b1913;
    position: center;
    width: 350px;
    max-width: 350px;
    position: center;
}

.navButton {
    background-color: transparent;
    border: none;
    margin : 0;
    margin-top: 20px;
    width: 130px;
    transition-duration: 0.5s;
    color: white;
    border-radius: 0;
    font-size: 17px;
}

.navButton:hover {
    cursor: pointer;
}

.navButton.clicked {
    color: white;
    text-decoration: underline;
    text-decoration-color: #ffc71f;
}

.navButton.clicked:hover {
    cursor: default;
}

iframe {
    height: 450px;
    border-radius: 5%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

table {
    width: 100%;
}

h3 {
    padding: 25px;
    color: #ffc71f;
    font-size: 35px;
}

.tb1 {
    margin: 0px;
    text-align: left;
    padding-left: 25px;
    color: rgb(151, 151, 151);
}

.tb2 {
    padding-left: 25px;
    text-align: left;
    color: white;
}

.td2 {
    margin-left: auto;
    width: auto;
    margin-right: 0px;
    text-align: right;
    padding-right: 25px;
}

.td3 {
    margin-right: auto;
    text-align: left;
    margin-left: 0px;
    width: 80%;
}

.scrollable {
    overflow: auto;
    background-color: rgb(45, 49, 46);
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    height: 500px;
    width: 450px;
    position: absolute;
}

tr.spaceUnder>td {
    padding-bottom: 20px;
}