@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

header {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    background: #1b1913;
    height: 250px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    background: #1b1913;
    height: 100vh;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 10px;
    padding-top: 27%;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 480px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 23px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a1 {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 23px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.navbar a1:hover {
    background: #ddd;
    color: black;
}

.button2 {
    border: none;
    color: #bfd1ff;
    background-color: #1b1913;
    float: right;
    margin-left: 50px;
}

.button2:hover{
    text-decoration: underline;
    color: #2691d9;
}

.section_title{
    color:#feb027;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  nav {
    background: rgba(0,0,0,.88);
    height: 40px;
    width: 100%;
}

.front-logo {
    color: #FEB027;
}

.back-logo {
    color: white;
}

label.logo {
    font-size: 32px;
    line-height: 80px;
    padding: 0 56px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 24px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav span a{
    display: inline-block;
    line-height: 80px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding: 6px 12px 6px 12px;
    border-radius: 8px;
    float: right;
}

a.active {
    color: #FEB027;
    background: #3c3a35;
}

a:hover {
    background: #3c3a35;
    transition: .5s;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 44px;
    }
    nav span a {
        font-size: 16px;
    }
}