header {
    height: 250px;
    color: #1b1913;
}


body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color:#1b1913;
}

.all-svng {
    margin: auto;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 10px;
    padding-top: 27%;
}

.usaved{
    width: 130px;
    height: 26px;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 2px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.saved {
    width: 282px;
    height: 38px;

    font-family: 'Karla',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;

    color: #FEB027;
}

.outof{
    width: 56px;
    height: 19px;
    font-family: 'Karla',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.total{
    width: 225px;
    height: 25px;

    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 2px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;

    color: #FEB027;

}

<<<<<<< HEAD
.container1{
    position: absolute;
    width: 354px;
    height: 400px;
    background: #2A2823;
    border-radius: 16px;
    top:525px
}

.circle-wrap {
    margin: auto;
    width: 120px;
    height: 120px;
    background: #8A8A8A;
    border-radius: 50%;
    margin-top:40px;
  }

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 50%;
  }

.circle-wrap .circle .mask {
    clip: rect(0px, 120px, 120px, 47px);
  }
.circle-wrap .circle .mask .fill {
    clip: rect(0px, 47px, 120px, 0px);
    background-color: #FEB027;
  }
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(84.6deg);
  }
   
@keyframes fill {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(84.66deg);
    }
  }

.circle-wrap .inside-circle {
    width: 106.5px;
    height: 106.5px;
    border-radius: 50%;
    background: #2A2823;
    line-height: 120px;
    text-align: center;
    margin-top: 7px;
    margin-left: 7px;
    margin-bottom: 7px;
    margin-right: 7px;
    position: absolute;
    z-index: 100;
  }

.material-icons{
    width: 60%;
    vertical-align: middle;
    color:#e6e2e7;
}

.fr1{
    width: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fr2{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 700;
    width: 90px;
    line-height: 2px;

}

.goalttl{
    position: absolute;
    font-family: 'Karla', sans-serif;
    font-size: 30px;
    line-height: 2px;
    letter-spacing: -0.04em;
    color: #e6e2e7;
    top: 60px;

}

.percentage{
    position: absolute;
    font-family: 'Karla', sans-serif;
    font-size: 42px;
    line-height: 2px;
    letter-spacing: -0.04em;
    color: #FEB027;
    top: 130px;
    left:205px;

}

.b-r{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 324px;
}

.before{
    position: absolute;
    width: 140px;
    height: 74px;
    left: 30px;
    top: 193px;
    background: #46433C;
    border-radius: 20px;
}

.remaining{
    position: absolute;
    width: 140px;
    height: 74px;
    right: 30px;
    top: 193px;

    background: #46433C;
    border-radius: 20px;
}

.cont-dl{

    position: absolute;
    width: 300px;
    height: 95px;
    left: 30px;
    top: 281px;
    
    background: #46433C;
    border-radius: 20px;
}

.texta{
    position: absolute;
    width: 35px;
    height: 2px;


    font-family: 'Karla', sans-serif;
=======
.goalttl {
    position: absolute;
    width: 192px;
    height: 25px;
    left: 194px;
    top: 20px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 2px;
    /* or 7% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;

    color: #FFFFFF;
}

.goalpercent {
    position: absolute;
    width: 101px;
    height: 75px;
    left: 215px;
    top: 40px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 2px;
    /* or 4% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;

    color: #FEB027;

}

.texta {

    font-family: 'Karla';
>>>>>>> 38197e8677c91bcea0d6b89d1d6221cc0b540135
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 2px;
    /* identical to box height, or 17% */
<<<<<<< HEAD

=======
    
>>>>>>> 38197e8677c91bcea0d6b89d1d6221cc0b540135
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
<<<<<<< HEAD

    color: #FEB027;
    top:20px;
    margin-left: 15px;
}

.textb{
    position: absolute;
    width: 120px;
    height: 25px;

    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 2px;
    /* or 12% */


    letter-spacing: -0.04em;

    color: #FFFFFF;
    bottom: 10px;
    margin-left: 15px;
}

.textc{
    position: absolute;
    width: 168.47px;
    height: 43.93px;
    left: 70px;
    top: 27px;
    font-family: 'Inter',sans-serif;
=======
    
    color: #FEB027;

}

.texta-1 {

    position: absolute;
    width: 234px;
    height: 25px;
    left: -75px;
    top: 170px;

}

.texta-2 {

    position: absolute;
    width: 234px;
    height: 25px;
    left: 120px;
    top: 170px;

}

.textb {
    
    
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    

    text-align: center;

    color: #D6D6D6;
}

.textb-1 {
    position: absolute;
    width: 234px;
    height: 25px;
    left: -32px;
    top: 180px;
}

.textb-2 {
    position: absolute;
    width: 234px;
    height: 25px;
    left: 150px;
    top: 180px;
}

.cont-dl {
    position: absolute;
    width: 330px;
    height: 95px;
    left: 10px;
    top: 250px;


    background: #46433C;
    border-radius: 20px;
}

.textc {

    position: absolute;
    width: 324px;
    height: 95px;
    left: 0px;
    top: 30px;

    font-family: 'Karla';
>>>>>>> 38197e8677c91bcea0d6b89d1d6221cc0b540135
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 140%;
<<<<<<< HEAD
    text-align: center;
    color: #D6D6D6;
}

.containerplus{
    position: absolute;
    width: 351px;
    height: 74px;
    left: 5px;
    top: 940px;
    border: none;
    background: #2A2823;
    border-radius: 20px;
    font-size: 40px;
    color: #D6D6D6;
}

.containerplus:hover{
    background: #24231e;
    color: #FFFFFF;
=======
    /* or 35px */

    text-align: center;

    color: #D6D6D6;

}

.bfr {

    position: absolute;
    width: 147px;
    height: 74px;
    left: 10px;
    top: 150px;

    background: #46433C;
    border-radius: 20px;
    }

.rmn {

    z-index: -1;
    position: absolute;
    width: 147px;
    height: 74px;
    left: 195px;
    top: 150px;

    background: #46433C;
    border-radius: 20px;

}

.container1 {

    z-index: -1;
    position: absolute;
    width: 354px;
    height: 360px;
    left: 0px;
    top: 400px;

    background: #2A2823;
    border-radius: 16px;
    }

.containerplus {
    position: absolute;
    width: 355px;
    height: 74px;
    left: 0px;
    top: 770px;

    background: #2A2823;
    border-radius: 20px;    
}

.btt {

    left: 0px;
    top: 200px;
>>>>>>> 38197e8677c91bcea0d6b89d1d6221cc0b540135
}