header {
    height: 250px;
}

body {
    margin: auto;
    font-family: 'Karla', sans-serif;
    max-width: 480px;
    background-color:#1b1913;
}

.title {
    display: flex;
    margin: auto;
    padding: 4px;
    color: #ffffff;
    justify-content: center
}